.About
    margin: 274px 112px 120px 112px
    display: flex
    flex-direction: column
    gap: 80px
    .title
        align-self: center
        display: flex
        flex-direction: column
        align-items: center

    .contents
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        gap: 108px
        .description
            letter-spacing: 2px
            text-align: justify
            flex: 4
            color: var(--mid-grey)
            font-size:32px
            line-height:45.76px
        .image
            flex: 1
            width: 25%
            height: 25%
