.SliderItem
    cursor: pointer
    color: white
    overflow: hidden
    background: var(--dark-grey)
    border-radius: 28px
    margin: 0 24px
    margin-right: auto
    margin-left: auto
    width: 340px
    height: 476px
    box-shadow: 3.72603px 3.72603px 6.52055px 0px rgba(0, 0, 0, 0.25)
    .event-image
        display: flex
        justify-content: center
        align-items: center
        height: 300px
        position: relative
        padding: 20px
    & img
        clip: auto
        width: 90%
    .down-content
        display: flex
        flex-direction: column
        gap: 12px
        align-items: center
        justify-content: center
        text-align: center
        padding: 10px 20px
        & h3
            color: var(--primary-green)
