/* ShootingStar.css */
.shooting-star {
		position: absolute;
		background: radial-gradient(circle, #ffdda2, rgba(255, 200, 100, 0.5));
		border-radius: 50%;
		filter: blur(0.8px);
		animation: shooting-star-animation 2.5s ease-in-out forwards;
		transform-origin: 0 0;
		box-shadow: 0 0 15px 8px rgba(255, 200, 150, 0.6);
      }
      	
@keyframes shooting-star-animation {
	0% {
		opacity: 1;
		transform: translateX(0) translateY(0) scale(1);
		filter: blur(1px);
	}
	40% {
		opacity: 1;
		filter: blur(1px);
	}
	60% {
		opacity: 0.8;
		transform: translateX(200px) translateY(-100px) scale(0.85);
		filter: blur(1.5px);
	}
	100% {
		opacity: 0;
		transform: translateX(450px) translateY(-220px) scale(0.6);
		filter: blur(3px);
	}
}
      